<h1>Serviços</h1>

<%= link_to 'Novo Serviço', new_servico_path %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.descricao %></td>
        <td>
          <%= link_to 'Mostrar', servico %>
          <%= link_to 'Editar', edit_servico_path(servico) %>
          <%= link_to 'Excluir', servico, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>